.container {
  padding: 30px;
  margin-top: 40px;
  background-color: white;
}

.table {
  font-size: 12px;
  line-height: 16px;
  color: #545f7d;

  th,
  td {
    border-bottom: 1px solid #ddd;
  }
}

// for the table headers
.tableHead {
  font-size: 12px;
  text-align: left;
  padding-bottom: 14px;
  text-transform: uppercase;

  color: #545f7d;

  img {
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}

// for the table data
.tableData {
  color: #545f7d;
  font-size: 14px;
  padding-top: 23px;
  padding-bottom: 23px;
  line-height: 16px;
  text-align: left;
}
