body.active-modal {
  overflow-y: auto;
}

.buttonModal {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;

  h4 {
    color: #545f7d;
    font-size: 14px;
    padding-left: 10px;
  }
}

.modal,
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.modalContent {
  line-height: 1.4;
  max-width: 600px;
  min-width: 300px;
  padding: 14px 28px;
  border-radius: 5px;
  background-color: white;
  border: 0.5px solid #545f7d;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);

  @media (min-width: 767px) {
    transform: translate(-40%, -40%);
  }

  @media (min-width: 1023px) {
    transform: translate(-80%, -40%);
  }

  @media (min-width: 1439px) {
    transform: translate(-120%, -40%);
  }

  @media (min-width: 1625px) {
    transform: translate(-145%, -40%);
  }
}

// body
.container {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.organisation {
  margin-top: 10px;
  font-size: 14px;
  color: #545f7d;
}

.select {
  width: 230px;
  height: 40px;
  padding: 10px;
  margin-top: 7px;

  opacity: 0.2;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #213f7d;
}

.input {
  height: 40px;
  width: 230px;
  padding: 20px;
  margin-top: 7px;
  font-size: 14px;

  opacity: 0.2;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #213f7d;
}

.userName {
  margin-top: 20px;
  font-size: 14px;
  color: #545f7d;
}

.email {
  margin-top: 20px;
  font-size: 14px;
  color: #545f7d;
}

.phoneNumber {
  margin-top: 20px;
  font-size: 14px;
  color: #545f7d;
}

.date {
  margin-top: 20px;
  font-size: 14px;
  color: #545f7d;
}

.status {
  margin-top: 20px;
  font-size: 14px;
  color: #545f7d;
}

.button {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;

  .reset {
    width: 98px;
    height: 40px;
    color: #545f7d;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #545f7d;
  }

  .filter {
    width: 98px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    background: #39cdcc;
    border: 1px solid #39cdcc;
  }
}

.close {
  width: 60px;
  height: 30px;
  border-radius: 8px;
}
