.container {
  width: 100%;
  padding: 3.5em;
  color: #545f7d;
  padding-top: 4rem;
  min-height: 100vh;
  font-style: normal;
  padding-left: 300px;
  background: #fafafa;
  font-family: "Work Sans";
  border: 1px solid rgba(33, 63, 125, 0.06);
}

.backArrow {
  gap: 15px;
  display: flex;
  color: #545f7d;
  flex-direction: row;
  align-items: center;
}

.userActions {
  display: flex;
  color: #213f7d;
  font-size: 24px;
  padding-top: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .blacklist {
    width: 170px;
    height: 40px;
    color: #e4033b;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 20px;
    background: #fafafa;
    letter-spacing: 0.1em;
    border: 1px solid #e4033b;
    text-transform: uppercase;
  }

  .activate {
    width: 170px;
    height: 40px;
    color: #39cdcc;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background: #fafafa;
    letter-spacing: 0.1em;
    border: 1px solid #39cdcc;
    text-transform: uppercase;
  }
}

.userDetails {
  display: flex;
  padding: 30px 30px 0px 30px;
  margin-top: 46px;
  border-radius: 4px;
  background: #ffffff;
  flex-direction: column;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  .div {
    display: flex;
    height: 100px;
    font-style: normal;
    flex-direction: row;
    align-items: center;

    .userAvatar {
      margin-right: 20px;
    }

    .userName {
      margin-right: 30px;

      h3 {
        color: #213f7d;
        font-size: 22px;
        font-weight: bold;
      }

      h4 {
        color: #545f7d;
        margin-top: 8px;
        font-size: 14px;
      }
    }

    .userTier {
      margin-left: 30px;

      h4 {
        font-size: 14px;
        font-weight: 500;
        margin-right: 30px;
      }

      div {
        gap: 2px;
        margin-top: 10px;
      }
    }

    .bankDetails {
      margin-left: 30px;

      h3 {
        color: #213f7d;
        font-size: 22px;
        font-weight: bold;
      }

      h4 {
        color: #213f7d;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 400;
      }
    }
  }

  .userInfoTabs {
    display: flex;
    height: 110px;
    font-size: 16px;
    flex-direction: row;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    // font-family: "SF Compact Text";

    .tabsBorder {
      width: 15%;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: solid;
      border-color: white;
    }

    :hover {
      color: #39cdcc;
      border-color: #39cdcc;
    }
  }
}

.generalDetails {
  height: auto;
  padding: 30px;
  margin-top: 30px;
  border-radius: 4px;
  background: #ffffff;
  padding-bottom: 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  .dividerH {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 16px;
    color: #213f7d;
  }

  .info {
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);

    div {
      margin-top: 30px;
    }

    h5 {
      color: #545f7d;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    h3 {
      color: #545f7d;
      font-size: 16px;
      font-weight: 600;
      max-width: 100%;
    }
    .empty {
      margin-bottom: 40px;
    }

    .emailText {
      font-size: 16px;
    }

    @media screen and (max-width: 1400px) {
      .emailText {
        font-size: 14px;
      }
    }

    @media screen and (max-width: 1200px) {
      .emailText {
        font-size: 12px;
      }
      .value,
      .officeEmail {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 630px) {
      .emailText {
        font-size: 11px;
      }
      .value,
      .officeEmail {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 425px) {
      .emailText {
        font-size: 10px;
      }
      .value {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 374px) {
      .officeEmail {
        font-size: 10px;
      }
    }
  }
}

// width 980px - 1250pxpx
@media (max-width: 1250px) {
  .container {
    padding: 1em;
    padding-top: 4rem;
    padding-left: 270px;
  }
}

// width 560px - 980px
@media (max-width: 980px) {
  .container {
    padding: 1em;
    padding-top: 3rem;
    padding-left: 260px;
  }

  .userDetails {
    padding: 10px;

    .div {
      height: 100px;

      .userAvatar {
        margin-right: 15px;
        width: 80px;
      }

      .userName {
        margin-right: 20px;
      }

      .userTier {
        margin-left: 20px;

        h4 {
          margin-right: 20px;
        }
      }

      .bankDetails {
        margin-left: 20px;
      }
    }

    .userInfoTabs {
      :hover {
        color: #39cdcc;
      }

      h4 {
        width: 20%;
        text-align: center;
      }
    }
  }

  .generalDetails {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    h4 {
      font-size: 16px;
      color: #213f7d;
    }

    .info {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

//width 560px-768px
@media (max-width: 768px) {
  .container {
    padding: 0.5em;
    padding-top: 3rem;
    padding-left: 10px;
  }
}

// width 480px - 560px
@media (max-width: 560px) {
  .container {
    padding: 0.5em;
    padding-top: 3rem;
    padding-left: 10px;
  }

  .userActions {
    display: flex;
    font-size: 22px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .buttonGroup {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .blacklist {
      width: 150px;
      font-size: 12px;
    }

    .activate {
      width: 150px;
      font-size: 12px;
    }
  }

  .generalDetails {
    padding-left: 15px;
    padding-right: 15px;

    h4 {
      font-size: 16px;
      color: #213f7d;
    }

    .info {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// width 320px - 425px
@media (max-width: 425px) {
  .container {
    padding: 0.5em;
    padding-top: 4rem;
    padding-left: 10px;
  }

  .userActions {
    display: flex;
    font-size: 22px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .buttonGroup {
      margin-top: 20px;
    }

    .blacklist {
      width: 140px;
      font-size: 12px;
    }

    .activate {
      width: 140px;
      font-size: 12px;
    }
  }

  .userDetails {
    .divider {
      display: none;
    }

    .div {
      gap: 30px;
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .userName {
        margin: auto;
        text-align: center;
      }

      .userTier {
        margin: auto;
        text-align: center;

        h4 {
          text-align: center;
          margin-left: 20px;
        }

        .stars {
          text-align: center;
        }
      }

      .bankDetails {
        margin: auto;
        text-align: center;
      }
    }

    .userInfoTabs {
      display: grid;
      margin-top: 50px;
      grid-row-gap: 0px;
      grid-column-gap: 0px;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      gap: 20px;

      .tabsBorder {
        width: 100%;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
      }

      :hover {
        color: #39cdcc;
      }
    }
  }

  .generalDetails {
    padding-left: 10px;
    padding-right: 10px;

    h4 {
      font-size: 16px;
      color: #213f7d;
    }

    .info {
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
