.container {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(19, 72, 177, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.08);
}

.modal {
  width: 400px;
  z-index: 1040;
  padding: 20px;
  position: fixed;
  display: display;
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.loading {
  margin-top: 40px;
  color: #545f7d;
}

.users {
  width: 100%;
  color: #545f7d;
  font-size: 14px;
  font-style: normal;
  font-family: "Work Sans";
  border-collapse: collapse;
}

.users td,
.users th {
  padding: 8px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.users th {
  color: #545f7d;
  text-align: left;
  padding-top: 18px;
  align-items: center;
  padding-bottom: 18px;
}

.tablehead {
  display: flex;
  gap: 10px;
}

.pending {
  width: 90px;
  height: 30px;
  border: white;

  // opacity: 0.1;
  background: #f0e4c2;
  border-radius: 15px;

  h3 {
    color: #e9b200;
    font-weight: 400;
    font-size: 14px;
  }
}

.pagination {
  height: 16px;
  display: flex;
  margin-top: 20px;
  padding-left: none;
  flex-direction: row;
  align-items: center;
  margin-bottom: auto;
  justify-content: space-between;

  .page100 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .showing {
      font-size: 14px;
      color: #545f7d;
      margin-right: 10px;
    }

    .next100button {
      width: 80px;
      height: 30px;
      display: flex;
      margin-right: 10px;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      h5 {
        color: #213f7d;
        font-size: 14px;
      }
    }

    .outOf100 {
      font-size: 14px;
      color: #545f7d;
    }
  }

  .pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .prevBtn {
      width: 24px;
      height: 24px;
    }
    .page1 {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .page2 {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .page3 {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .pageHidden {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .page15 {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .page16 {
      font-size: 16px;
      color: #545f7d;
      margin-left: 20px;
    }
    .nextBtn {
      width: 24px;
      height: 24px;
      margin-left: 20px;
    }
  }
}
