.container {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
}

.modal {
  display: display;
  width: 400px;
  z-index: 1040;
  padding: 20px;
  position: fixed;
  background-color: white;
  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.loading {
  margin-top: 40px;
  color: #545f7d;
}

.users {
  width: 100%;
  color: #545f7d;
  font-size: 14px;
  font-style: normal;
  font-family: "Work Sans";
  border-collapse: collapse;
}

.users td,
.users th {
  padding: 8px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.users th {
  color: #545f7d;
  text-align: left;
  padding-top: 18px;
  align-items: center;
  padding-bottom: 18px;
}

.tablehead {
  display: flex;
  gap: 15px;
}

.blacklisted {
  width: 100px;
  height: 30px;
  border: white;

  // opacity: 0.1;
  background: #eebcc8;
  border-radius: 15px;

  h3 {
    color: #e4033b;
    font-weight: 400;
    font-size: 14px;
  }
}

.active {
  width: 70px;
  height: 30px;
  border: white;

  // opacity: 0.1;
  background: #ccf1d7;
  border-radius: 15px;

  h3 {
    color: #39cd62;
    font-weight: 400;
    font-size: 14px;
  }
}

.inactive {
  width: 80px;
  height: 30px;
  border: white;

  // opacity: 0.1;
  background: #e2e4e9;
  border-radius: 15px;

  h3 {
    color: #545f7d;
    font-weight: 400;
    font-size: 14px;
  }
}

.pending {
  width: 90px;
  height: 30px;
  border: white;

  // opacity: 0.1;
  background: #f0e4c2;
  border-radius: 15px;

  h3 {
    color: #e9b200;
    font-weight: 400;
    font-size: 14px;
  }
}
