@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Roboto:wght@100;300&family=Rubik:wght@300;400;500&family=Work+Sans:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Work Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
