body.active-modal {
  overflow-y: auto;
}

.btnModal {
  width: 30px;
  border: none;
  height: 30px;
  background-color: inherit;
}

.modal,
.overlay {
  right: 0;
  bottom: 50;
  padding-top: 25px;
  position: absolute;
  border-radius: 4px;
  padding-left: 25px;
}

.overlay {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -40%);

  @media (min-width: 1030px) {
    width: 50vw;
    height: 70vw;
  }
}

.modalContent {
  width: 180px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgba(84, 95, 125, 0.04);
}

.userAction {
  display: flex;
  margin-bottom: 18px;

  h4 {
    padding-left: 10px;

    color: #545f7d;
    font-size: 14px;
  }

  img {
    width: 14px;
    height: 14px;
  }
}
