.container {
  width: 100%;
  min-width: 250px;
  position: static;
}

// top - dashboard section
.group {
  :hover {
    border-left: 5px solid #39cdcc;
  }
}

.header {
  height: 40px;
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;

  :hover {
    border-left: 1px solid white;
  }
}

.arrowDown {
  margin-left: 11px;
}

// middle - section
.heading {
  color: #545f7d;
  font-size: 12px;
  margin-top: 40px;
  padding-left: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.menuContainer {
  .menu {
    height: 40px;
    display: flex;
    padding-left: 30px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;

    :hover {
      border-left: 1px solid white;
    }
  }

  .menuButton {
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;

    :hover {
      border: 0px solid white;
    }
  }

  .text {
    height: 20px;
    color: #213f7d;
    font-size: 16px;
    font-weight: normal;
  }
}

// logout - buttom section
.divider {
  margin-top: 70px;
}

.logout {
  height: 40px;
  display: flex;
  margin-top: 20px;
  padding-left: 30px;
  flex-direction: row;
  align-items: center;

  :hover {
    border-left: 1px solid white;
  }
}

.icon {
  margin-right: 10px;
}

.footer {
  color: #213f7d;
  font-size: 12px;
  margin-top: 40px;
  font-style: normal;
  padding-left: 30px;
  margin-bottom: 20px;
}
