.main {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.aside {
  flex-grow: 0;
  display: none;

  @media (min-width: 850px) {
    flex-grow: 1;
    padding: 2em;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    top: 5em;
    left: 5em;
    width: 140px;
    position: absolute;
  }

  .asideImage {
    width: 600px;
  }
}

.content {
  padding: 2em;
  flex-grow: 1;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .container {
    width: 100%;
    margin: auto;
    max-width: 450px;

    .welcome {
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    .details {
      font-size: 1.5em;
      font-style: normal;
      margin-bottom: 60px;
      font-weight: lighter;
    }

    .forgotPassword {
      font-size: 1em;
      color: #39cdcc;
      font-style: normal;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}
