.container {
  width: 100%;
  display: flex;
  padding: 15px 20px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;

  @media (min-width: 450px) {
    padding: 20px 30px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 32px;
  display: none;

  @media (min-width: 600px) {
    display: flex;
  }
}

.searchIconBox {
  width: 50px;
  height: 30px;
  display: none;
  padding: 5px;
  border-radius: 15px;
  background-color: #39cdcc;

  @media (min-width: 450px) {
    display: block;
  }

  @media (min-width: 940px) {
    display: none;
  }
}

.searchIcon {
  display: none;

  @media (min-width: 450px) {
    width: 18px;
    height: 18px;
    margin: auto;
    color: red;
    display: block;
  }

  @media (min-width: 990px) {
    display: none;
  }
}

// .menuSideBar {
//   top: 0;
//   left: 0;
//   padding-top: 60px;
//   padding-left: -5px;
//   z-index: 20;
//   width: 80vw;
//   height: 100vh;
//   display: flex;
//   position: fixed;
//   margin-top: 10px;
//   overflow-y: scroll;
// }

.openMenu {
  width: 45px;
  height: 45px;

  @media (min-width: 600px) {
    display: none;
  }
}
