.container {
  height: auto;
  padding: 1.5em;
  min-width: 1150px;
  font-style: normal;
  background: #fafafa;
  font-family: "Work Sans";
  border: 1px solid rgba(33, 63, 125, 0.06);
  // box-shadow: 3px 5px 40px rgba(165, 159, 159, 0.04);

  @media (min-width: 1340px) {
    padding: 3em;
    padding-left: 290px;
  }

  @media (min-width: 769px) {
    padding: 3em;
    padding-left: 280px;
  }
}

.heading {
  color: #213f7d;
  font-size: 24px;
  font-style: normal;
  padding-bottom: 40px;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .usersTabs {
    width: 100%;
    max-width: 22%;
    padding: 30px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  }

  .userClass {
    color: #545f7d;
    font-size: 14px;
    padding: 14px 0px;
    text-transform: uppercase;
  }

  .userNumber {
    font-size: 24px;
    color: #213f7d;
    text-transform: uppercase;
  }
}
