.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAvatar {
  width: 50px;
  border-radius: 25px;
}

.userName {
  color: #213f7d;
  font-size: 16px;
  font-style: normal;
  font-family: "Work Sans";
}
