.main {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.aside {
  flex-grow: 0;
  display: none;

  @media (min-width: 850px) {
    flex-grow: 1;
    padding: 2em;
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    top: 5em;
    left: 5em;
    width: 140px;
    position: absolute;
  }

  .asideImage {
    width: 600px;
  }
}

.content {
  padding: 2em;
  flex-grow: 1;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

  .logoMain {
    width: 120px;

    @media (min-width: 850px) {
      display: none;
    }
  }

  .container {
    width: 100%;
    margin: auto;
    max-width: 450px;

    .register {
      color: #213f7d;
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: bolder;
    }

    .details {
      color: #545f7d;
      font-size: 20px;
      font-style: normal;
      margin-bottom: 60px;
      font-weight: lighter;
    }

    .forgotPassword {
      font-size: 1em;
      color: #39cdcc;
      font-style: normal;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }

  .passwordInput {
    display: flex;

    .show {
      color: #39cdcc;
      font-size: 12px;
      margin-top: 18px;
      margin-left: -70px;
      margin-right: 20px;
    }
  }
}

.dashboardPage {
  color: #3e8888;
  text-align: center;
  margin-top: 40px;
}

.userPage {
  color: #3e8888;
  text-align: center;
  margin-top: 20px;
}

.login {
  margin-top: 40px;
  text-align: center;

  h4 {
    color: #213f7d;

    a {
      color: #39cdcc;
    }
  }
}

.termsAndCondition {
  margin-top: 20px;
  text-align: center;

  h4 {
    color: #213f7d;
    font-weight: lighter;

    a {
      font-weight: bold;
      color: #39cdcc;
    }
  }
}
